OPENAI_API_KEY = ""

PINECONE_API_KEY = ""
PINECONE_INDEX = ""
PINECONE_CLOUD = ""
PINECONE_REGION = ""

AWS_SECRET_KEY = ""
AWS_ACCESS_ID = ""
AWS_S3_BUCKET= ""
POLICY_FILE = ""

DATABASE_URL = ""
REDIS_HOST = ""
REDIS_PORT = 0

FRONTEND_URL = ""
